.swiper-container {
    height: 450px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;

    h1 {
        margin-top: 100px;
        font-size: clamp(27px, 6vw + 0.1rem, 50px);
        margin-bottom: 5px;
        color: #0a423b;
        margin-right: 10px;
    }

    .more-link {
        display: flex;
        color: #0a423b;
        text-decoration: none;
        align-items: center;
        justify-content: end;
    }

    @media (max-width: 700px) {
        padding-left: 30px;
        padding-right: 30px;
    }

    @media (max-width: 450px) {
        height: 400px;
        padding-left: 50px;
        padding-right: 50px;
    }
}